* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #111;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  background: url('https://images.unsplash.com/photo-1571019613914-85f342c1d4f1') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 2px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  background-color: #e91e63;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.services, .trainers {
	background-color:#99ccff;
  padding: 60px 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background-color:#ff6666;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

